@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */

  --orange-yellow-crayola: hsl(45, 98%, 68%);
  --smoky-black: hsla(0, 0%, 0%, 0.862);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --white-alpha-25: hsla(0, 0%, 100%, 0.25);
  --white-alpha-40: hsla(0, 0%, 100%, 0.4);
  --white-alpha-60: hsla(0, 0%, 100%, 0.6);
  --white-alpha-80: hsla(0, 0%, 100%, 0.8);
  
  /* Typography */
  --ff-poppins: var(--font-poppins);
}

[data-theme='light'] {
  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(87, 100%, 92%) 3%, 
    hsl(0, 0%, 100%) 97%
  );
  --smoky-black:  hsla(342, 34%, 39%, 0.7)  ;
  --white-alpha-10: hsla(0, 0%, 0%, 0.1);
  --white-alpha-25: hsla(0, 0%, 0%, 0.25);
  --white-alpha-40: hsla(0, 0%, 0%, 0.4);
  --white-alpha-60: hsla(0, 0%, 0%, 0.6);
  --white-alpha-80: hsla(0, 0%, 0%, 0.8);
}

[data-theme='dark'] {
  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(240, 1%, 25%) 3%, 
    hsl(0, 0%, 19%) 97%
  );
  --smoky-black: hsla(0, 0%, 0%, 0.862);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --white-alpha-25: hsla(0, 0%, 100%, 0.25);
  --white-alpha-40: hsla(0, 0%, 100%, 0.4);
  --white-alpha-60: hsla(0, 0%, 100%, 0.6);
  --white-alpha-80: hsla(0, 0%, 100%, 0.8);
}

/* Base styles */
@layer base {
  body {
    @apply bg-[var(--smoky-black)] text-white font-[var(--ff-poppins)];
  }
}

/* Utility classes */
@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[var(--orange-yellow-crayola)] to-white;
  }
}

/* Ajout d'un style global pour le main */
main {
  @apply min-h-screen;
  padding-top: 50px; /* Hauteur du header */
}

/* Ajustement responsive */
@media (max-width: 768px) {
  main {
    padding-top: 80px; /* Hauteur du header sur mobile */
  }
}